@model DansBlog.Presentation.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<div id="loginForm">
    @using(Html.BeginForm(new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.UserName)</td>
                <td>@Html.TextBoxFor(m => m.UserName)</td>
                <td>@Html.ValidationMessageFor(m => m.UserName)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
                </tr>
            
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Log in" /></td>
            </tr>
            <tr>              
                <td>@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })</td>
                <td>@Html.CheckBoxFor(m => m.RememberMe)</td>
            </tr>
        </table>
        <h4>@Html.ValidationSummary(true)</h4>
    }
</div>


