<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="icon" type="image/ico" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    
</head>

<body>
    <div id="wrapper">
        @Html.Partial("_Header")
        <div id="login">
        </div>
        @Html.Partial("_Navigation")

        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="content">
                        @RenderBody()
                    </div>
                    <div id="sidebar">
                        <ul>
                            <li>
                                @Html.Partial("_SiteSearch")
                            </li>
                            <li>
                                @Html.Partial("_QuoteGenerator", ViewData["Layout"])
                            </li>
                            <li>
                                @Html.Partial("_CategorySideBar", ViewData["Layout"])
                            </li>                           
                            <li>
                                @Html.Partial("_ArchiveSideBar", ViewData["Layout"])

                            </li>
                            </ul>
                    </div>
                    <div style="clear: both;"></div>

                    @RenderSection("featured", required: false)

                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    

    @RenderSection("scripts", required: false)
 
</body>
</html>
