<div id="menu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Archive", "Archive", "Home")</li>
        <li>@Html.ActionLink("Tag Cloud", "TagCloud", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Downloads", "Downloads", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
    </ul>
</div>
