@model DansBlog.Model.Entities.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="admin-post">
    
    <div class="admin-header">
        <h3>
            @Html.DisplayFor(model => model.Title)&nbsp; <span class="admin-title">

                @Html.DisplayFor(model => model.PublishDate)
</span></h3>
        </div>
    <p>
        @Html.DisplayFor(model => model.Content)
    </p>
</div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
