@using DansBlog.Presentation.ViewModels
@model BlogPostViewModel

@{
    ViewBag.Title = "Admin";
    BlogPostViewModel viewModel = Model;
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create") <span class="admin-paging">@Html.Partial("_PagenationGeneral", Model)</span>
</p>
<div class="admin-post">
        @foreach (var item in viewModel.Posts)
        {         
                <div class="admin-header">
                     <h3>@Html.DisplayFor(modelItem => item.Title) &nbsp; <span class="admin-title">@Html.DisplayFor(modelItem => item.PublishDate)</span></h3> 
                </div>
                    
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>

                <div>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) 
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) 
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    @Html.ActionLink("Moderate Comments", "Moderate", new {id = item.Id})
                </div>           
        }
</div>
