@model DansBlog.Model.Entities.Comment

@using (Html.BeginForm("LeaveComment", "Home")) {
    @Html.ValidationSummary(true)
    <div>
    @Html.HiddenFor(m => m.PostId)
    
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Author)
        </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Author)
        @Html.ValidationMessageFor(m => m.Author)
    </div>
    <div class="editor-label">
        @Html.LabelFor(m => m.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="editor-label">
            @Html.LabelFor(m => m.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, new{cols = 40, rows = 10})
            @Html.ValidationMessageFor(m => m.Content)
        </div>

        <p>
            <input type="submit" value="LeaveComment" />
        </p> 
}

